@import url(../src/css/tokens.css);
@import url(../src/css/colors.module.css);
@import url(../src/css/typography.module.css);
@import url(../src/css/theme.light.css) (prefers-color-scheme: light);
@import url(../src/css/theme.dark.css) (prefers-color-scheme: dark);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--md-sys-color-background);
}

.nav-container {
  /* background-color: var(--md-sys-color-surface); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

.nav-container a {
  text-decoration: none;
  font-weight: 600;
  color: var(--md-sys-color-on-surface);
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem
}

.tonal-button {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
  display: flex;
  align-items: center;
  font-weight: 600;
  border: none;
  padding: 0.75rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.filled-button {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  font-size: 1rem;
  font-weight: 400;
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border: none;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

.icon-size {
  font-size: 1.25rem;
}

.apod-card {
  height: fit-content;
  background-color: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface-variant);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.apod-label {
  text-transform: uppercase;
  color: var(--md-sys-color-outline);
}

.apod-date-picker {
  padding: 1rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border-style: none;
  font-size: 1rem;
  outline: 1px ;
  outline-style: solid;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  /* outline-color: white; */
  margin: 2rem 0;
}

.image-container {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--md-sys-color-surface-variant);
}

.search-bar-container {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.search-input {
  height: 2rem;
  width: 40vw;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  background-color: transparent;
  border: none;
}

.search-input:focus {
  outline: none;
}

.apod-date-picker ::-webkit-calendar-picker-indicator {
  color: white;
  background-color: var(--md-sys-color-surface-tint);
  padding: 0.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.main-search-container {
  /* position: absolute;
  top: 0; */
}

.apod-image {
  width: 100%;
  height: 100%;
}

.apod-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: 1rem;
  padding: 5rem;
}

.card-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 1.5rem;
  padding: 2rem;
}

.card {
  width: 250px;
  height: auto;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.apod-image {
  height: 100%;
  width: 100%;
}

.search-image {
  width: 250px;
  height: 250px;
}

.apod-title {
  height: 100%;
  width: 100%;
  color: var(--md-sys-color-on-surface-variant);
  background-color: var(--md-sys-color-surface-variant);
  padding: 1rem;
}

.footer-container {
  height: 30vh;
  width: 100%;
  background-color: pink;
}


/* Responsive wip
@media screen and (max-width: 668px) {
  .apod-card {
    background-color: palegoldenrod;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1.5rem;
    align-items: center;
  }

  .apod-date-picker {
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    border-style: none;
  }

}
*/